<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	
	<!-- 1. 개수 세기 -->
	<select id="selectCount" resultType="int">
		select count(*) from board2
	</select>
	<!-- 2. 1개 얻기 -->
	<select id="selectByIdx" parameterType="int" resultType="BoardVO">
		select * from board2 where idx=#{idx}
	</select>
	<!-- 3. 1페이지 얻기 -->
	<select id="selectList" parameterType="hashmap" resultType="BoardVO">
		select * from board2 
		
		order by idx desc limit #{startNo}, #{pageSize}
	</select>
	<!-- 4. 저장 -->
	<insert id="insert" parameterType="BoardVO">
		insert into board2
		(name,password,subject,content,ip)
		values
		(#{name},password(#{password}),#{subject},#{content},#{ip})
	</insert>
	<!-- 5. 수정 -->
	<update id="update" parameterType="BoardVO">
		update board2 
		set
			subject = #{subject},
			content = #{content},
			regDate = now(),
			ip = #{ip}
		where
			idx = #{idx}
	</update>
	<!-- 6. 삭제 -->
	<delete id="delete" parameterType="int">
		delete from board2 where idx=#{idx}
	</delete>
	<!-- 7. 조회수 증가 -->
	<update id="hitIncrement" parameterType="int">
		update board2 set hit = hit+1 where idx=#{idx}
	</update>
	<!-- 8. 비번 검사 -->
	<select id="passwordCheck" parameterType="hashmap" resultType="int">
		select count(*) from board2 where idx=#{idx} and password = password(#{password})
	</select>
</mapper>