<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="category">

	<!-- 목록 뽑기 -->
	<select id="selectList" resultType="CategoryVO">
		select * from category order by ref desc, seq
	</select>
	
	<!-- 대항목 입력 -->
	<insert id="insert" parameterType="CategoryVO">
		insert into category (item,del) VALUES (#{item},'Y')
	</insert>
	<update id="updateRef">
		update category set ref = (select max(idx) from category) where idx = (select max(idx) from category)
	</update>

	<!-- 하위 항목 추가 -->
	<update id="updateSeq" parameterType="CategoryVO" >
		update category set seq=seq+1 where ref=#{ref} and seq>#{seq}
	</update>
	<insert id="reply" parameterType="CategoryVO">
		insert into category (ref, seq, lev, item, del) values (#{ref}, #{seq}, #{lev},#{item},'Y')
	</insert>
	
	<!-- 항목 수정 -->
	<update id="update" parameterType="CategoryVO" >
		update category set item=#{item} where idx=#{idx}
	</update>
	
	<!-- 항목 삭제 -->
	<delete id="delete" parameterType="CategoryVO" >
		delete from category where idx=#{idx}
	</delete>
	
	<!-- 나보다 ref가 같으면서 seq 크거나 같은것 목록 뽑기 -->
	<select id="selectSeqList" resultType="CategoryVO" parameterType="CategoryVO">
		select * from category  where ref=#{ref } and seq>=#{seq } order by seq
	</select>
	
	<!-- del 필드값을 N이나 Y로 변경 -->
	<update id="updateDel" parameterType="CategoryVO">
		update category set del = #{del} where idx=#{idx}
	</update>
	
	<!-- 해당 글번호의 정보를 가져오기  -->
	<select id="selectByIdx" parameterType="int" resultType="CategoryVO">
		select * from category where idx=#{idx}
	</select>
	
	<!-- del값이 'N'인 모든 데이터 가져오기 -->
	<select id="selectDelList" resultType="CategoryVO">
		select * from category  where del='N' order by idx desc
	</select>
</mapper>